body {
    margin: 0;
    background-color: #EEEEEE;
    font-family: 'YouTube Noto', Roboto, arial, sans-serif;
}


/* header */

#square-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
}

#youtube-logo {
    width: 100px;
    height: 30px;
    margin-right: 50px;
    margin-left: 10px;
    margin-top: 5px;
}

#search-logo {
    width: 30px;
    height: 27px;
    border-radius: 2px;
    border: 1px solid black;
    margin-top: 5px;
}

#upload-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 70px;
    margin-top: 5px;
}

#notification-logo {
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-top: 5px;
  
}

#search-bar {
    width: 620px;
    height: 25px;
    border-radius: 2px;
    border: 1px solid black;
    margin-top: 5px;
}

.sign-in {
    background-color: rgba(72, 72, 255, 0.801);
    color: white;
    border: 0px;
    border-radius: 3px;
    height: 30px;
    margin-top: 5px;
    margin-right: 30px;
    margin-left: 30px;
}

#icon-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    width: 100%;
}

nav {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5px;
    padding-top: 11px;
    padding-bottom: 1em;
    background-color: white;
    border: 1px solid rgb(226, 226, 226);
}

#language-title {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    background-color: rgb(22, 122, 198);   
    height: 30px;
    font-size: 15px;
    color: white;
    text-align: left;
    padding-top: 11px;
    padding-left: 1em;
}

#language-title span {
    float: right;
    color: #fff;
    height: 30px;
    font-size: 15px;
    padding-right: 1em;
    text-align: center;
}

#info-v {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    height: 30px;
    font-size: 15px;
    color: black;
    text-align: left;
    padding-top: 11px;
    padding-left: 1em;
}

#learn-link {
    color: rgb(22, 122, 198);
    text-decoration: none;
    padding-right: 1em;
    margin-left: 500px;
}

#structure {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

#language-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

#x {
    margin-left: 950px;
}

#info-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}


/* video */

.video-player {
    margin-left: 100px;
    margin-top: 10px;
    width: 680px;
    height: 340px;
    margin-right: 20px;
}

#channel-info {
    margin-top: 10px;
    background-color: white;
    padding: 5px;
    border-color: 1px solid rgb(226, 226, 226);
}

#subscribe-logo {
    height: 30px;
    width: 100px;
}

#description-box {
    margin-top: 5px;
    background-color: white;
    padding: 7px;
    border-color: 1px solid rgb(226, 226, 226);
}

#loading {
    margin-top: 5px;
    background-color: white;
    padding: 5px;
    border-color: 1px solid rgb(226, 226, 226);
}

#loading-logo {
    height: 13px;
    width: 20px;
    margin-left: 300px;
}

#loading-box {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    font-size: 13px;
    height: 220px;
    margin-top: 100px;
}

#channel-logo {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 10px;
}

#vide-details {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    margin-top: 10px;
}

#video-name {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 25px;
}

#views {
    margin-left: 362px;
    margin-right: 5px;
    font-size: 20px;
    color: rgb(173, 169, 169);
}

.line {
    width: 670px;
    color: rgb(173, 169, 169);
}

#date {
    font-size: 20px;
    margin-left: 5px;
}

#description-video {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: justify;
    font-size: 13px;
    padding: 5px;
}

#show-more {
    text-align: center;
    font-size: 15px;
}

#share-bar {
    list-style-type: none;
    margin: 0;
    padding-bottom: 25px;
    overflow: hidden;
    display: flex;
}

#share-bttn {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
}

#share-text {
    margin-right: 475px;
    margin-top: 12px;
    margin-left: 5px;
    color: rgb(173, 169, 169);
}

#like-bttn {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: -35px;
}

#like-text {
    margin-right: 10px;
    margin-top: 15px;
    margin-left: -5px;
    color: rgb(173, 169, 169);
}

#dislike-bttn {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 8px;
}

#dislike-text {
    margin-right: 5px;
    margin-top: 15px;
    margin-left: 5px;
    color: rgb(173, 169, 169);
}

/* sidebar */
.sidebar {
    margin-right: -60px;
    margin-top: 10px;
    margin-left: 5px;
    width: 101%;
    background-color: white;
    padding: 5px;
    border-color: 1px solid rgb(226, 226, 226);
}

.img-video {
    width: 220px;
    margin-top: 15px;
    margin-left: 15px;
    height: 140px;
}

.img-text {
    width: 220px;
    height: 3px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    margin-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    display: flex;
}

#side-1 {
    list-style-type: none;
    margin: 0;
    padding-bottom: 25px;
    overflow: hidden;
    display: flex;
}


/* footer */

#bottom {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    border-color: 1px solid rgb(226, 226, 226);
}

.bottom-box {
    list-style-type: none;
    margin: 0px;
    padding-top: 7px;
    padding-bottom: 12px;
    overflow: hidden;
    display: flex;
    background: white;
    margin-top: 20px;
}

#youtubelogo {
    width: 60px;
    height: 22px;
    margin-left: 30px;
    margin-right: 70px;
    margin-top: 15px;
}

#language-btt {
    margin-right: 70px;
    margin-top: 15px;
    height: 25px;
}

#location-btt {
    margin-right: 70px;
    margin-top: 15px;
    height: 25px;
}

#restricted-btt {
    margin-right: 70px;
    margin-top: 15px;
    height: 25px;
}

#history-btt {
    margin-right: 70px;
    margin-top: 15px;
    height: 25px;
}

#help-btt {
    margin-top: 15px;
    height: 25px;
}

#line-bottom {
    width: 1100px;
}

#about {
    margin-right: 40px;
    margin-left: 20px;
    color: rgb(173, 169, 169);
}

#press {
    margin-right: 40px;
    color: rgb(173, 169, 169);
}

#copyright {
    margin-right: 40px;
    color: rgb(173, 169, 169);
}

#creators {
    margin-right: 40px;
    color: rgb(173, 169, 169);
}

#advertise {
    margin-right: 40px;
    color: rgb(173, 169, 169);
}

#developers {
    color: rgb(173, 169, 169);
}