    body {
        margin: 0;
        background-color: #EEEEEE;
    }
    
    #square-logo {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 5px;
    }
    
    #youtube-logo {
        width: 100px;
        height: 30px;
        margin-right: 300px;
        margin-left: 10px;
        margin-top: 5px;
    }
    
    #search-logo {
        width: 30px;
        height: 27px;
        border-radius: 2px;
        border: 1px solid black;
        margin-top: 5px;
    }
    
    #upload-logo {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-left: 300px;
        margin-top: 5px;
    }
    
    #search-bar {
        width: 300px;
        height: 25px;
        border-radius: 2px;
        border: 1px solid black;
        margin-top: 5px;
    }
    
    .sign-in {
        background-color: rgba(72, 72, 255, 0.801);
        color: white;
        border: 0px;
        border-radius: 3px;
        height: 30px;
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 5px;
    }
    
    #icon-container {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
    }
    
    #icon-container {
        width: 100%;
    }
    
    nav {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 5px;
        background-color: white;
        border: 1px solid rgb(226, 226, 226);
    }
    
    #language-title {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 10px;
        background-color: rgb(22, 122, 198);
        border-top-color: 1px solid rgb(226, 226, 226);
        border-right-color: 1px solid rgb(226, 226, 226);
        border-left-color: 1px solid rgb(226, 226, 226);
        padding-left: 10px;
    }
    
    #language {
        color: white;
        position: relative;
        font-size: 13px;
        padding-top: 5px;
    }
    
    #info-v {
        background-color: white;
        margin-left: 50px;
        margin-right: 50px;
        border-right-color: 1px solid rgb(226, 226, 226);
        border-left-color: 1px solid rgb(226, 226, 226);
        border-bottom-color: 1px solid rgb(226, 226, 226);
        padding-left: 10px;
    }
    
    #info-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        height: 30px;
    }
    
    #p {
        color: black;
        margin-top: 5px;
    }
    
    #learn-link {
        margin-left: 730px;
        margin-top: 5px;
    }
    
    #link {
        text-decoration: none;
        color: rgb(22, 122, 198);
    }
    
    .body {
        display: flex;
        flex-direction: row;
    }
    
    .video-player {
        margin-left: 50px;
        margin-right: 600px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
    
    #channel-info {
        margin-top: 5px;
        background-color: white;
        padding: 5px;
        border-color: 1px solid rgb(226, 226, 226);
    }
    
    #subscribe-logo {
        height: 30px;
        width: 70px;
    }
    
    #description-box {
        margin-top: 5px;
        background-color: white;
        padding: 5px;
        border-color: 1px solid rgb(226, 226, 226);
    }
    
    #loading {
        margin-top: 5px;
        background-color: white;
        padding: 5px;
        border-color: 1px solid rgb(226, 226, 226);
    }
    
    #loading-logo {
        height: 13px;
        width: 20px;
        margin-left: 280px;
    }
    
    #loading-box {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        font-size: 13px;
    }
    
    #side_videos {
        display: grid;
        grid-template-rows: 50px 50px;
    }
    
    #bottom {
        background-color: white;
        margin-left: 50px;
        margin-right: 50px;
        height: 75px;
        margin-bottom: 20px;
        border-color: 1px solid rgb(226, 226, 226);
    }
    
    #bottom-box {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
    }
    
    #youtubelogo {
        width: 60px;
        height: 22px;
        margin-left: 30px;
        margin-right: 100px;
        margin-top: 15px;
    }
    
    #language-btt {
        margin-right: 100px;
        margin-top: 15px;
        height: 25px;
    }
    
    #location-btt {
        margin-right: 100px;
        margin-top: 15px;
        height: 25px;
    }
    
    #restricted-btt {
        margin-right: 100px;
        margin-top: 15px;
        height: 25px;
    }
    
    #history-btt {
        margin-right: 100px;
        margin-top: 15px;
        height: 25px;
    }
    
    #help-btt {
        margin-top: 15px;
        height: 25px;
    }
    
    hr {
        width: 1000px;
    }